/* CSS Document */

p {font-family:Verdana; font-size:12px; margin:15px;}
h2 {font-family:Verdana; font-size:14px; margin:20px;}
li {font-family:Verdana; font-size:12px;}
.cont_div {width:610px;border:1px solid lightgray;font-size:18px;padding:10px;}
.left {background-color:#ffffff;}
body {background:url(img/bg.jpg) #CCCCCC no-repeat fixed center bottom; margin:8px 8px 0px 8px; padding:0px; background-size:100%;}


p.title {
background-color: #0E69F5;
color: #ffffff;
font-weight:bold;
margin:0px;
padding:5px;
text-align:center;
}

#coolmenu{
border: 1px solid gray; /*—тиль рамки */
border-bottom-width: 0;
background-color: #f6f6f6;  /*‘оновый цвет €чейки*/
margin:8px; /*Ўирина отступов*/
}

* html #coolmenu{ 
width: 150px;/*Ўирина меню дл€ Internet Explorer*/
}

#coolmenu a{
font: bold 13px Verdana; /*Ўрифт текста*/
padding: 2px; /*¬нутренний отсутп текста ссылки от краев €чейки*/
padding-left: 4px;/*¬нутренний отсутп текста ссылки от левого кра€ €чейки*/
display: block;
width: 100%; /*Ўирина €чейки*/
color: #000000;  /*÷вет текста*/
text-decoration: none; /*ѕодчеркивание у ссылок - нет*/
border-bottom: 1px solid gray;
}

html>body #coolmenu a{ 
width: auto;
}

#coolmenu a:hover{
background-color: #cccccc; /*‘оновый цвет €чейки при наведение курсора*/
color: #000000;  /*÷вет текста при наведении курсора*/
}

p.title2 {
background-color: #C4C92F;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}

.form1 {
font-family: Verdana;
font-size: 10px;
}

.form3 {
font-family: Verdana;
font-size: 11px;
}

.formm {
border: 1px solid #cccccc;
margin:5px;
}

.informer {
z-index:100;
display:block;
position:fixed;
}

.lesson {border:1px solid #cccccc; width:95%;}
.lesson_title {background-color:#f6f6f6;}

.lesson_name {font-weight:bold; margin-top:7px; margin-bottom:7px;}
.lesson_adds {font-size:11px; margin-top:7px; margin-bottom:7px; color:#424242;}

.view_title {font-size:16px; font-weight:bold; color:#cc0000; text-align:center;}
.view_date {font-size:11px; color:#424242; margin-top:7px; margin-bottom:7px; font-weight:bold;}

/*¬озврат к верху страницы*/ 

#back-top {
	position: fixed;
	bottom: 30px; /* отступ кнопки снизу */
	margin-right: 30px; /*  отступ кнопки справа (дл€ указани€ отступа слева используйте margin-left) */
}

#back-top a {
	width: 75px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	
}
#back-top a:hover {
	color: #000;
	text-shadow: 0px 0px 5px blue;
}
 
/* иконка стрелки (тег span) */
#back-top span {
	width: 75px;
	height: 75px;
	display: block;
	margin-bottom: 7px;
	background: url(img/c701ebd202c1.gif) no-repeat center center;
	/* в скобках указываем путь к иконке */
 
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
 
	/* скругленные углы  */
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
 
}